<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>haneum search</title>
<script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
<script>
$(document).on(function() {
	$('form').on('submit', function(event) {
		$('form')
			.prop('action', '../articles/' 
					+ $('#company_name').val());
	});
});
</script>
</head>
<body>
{{ msg }}<br>
<form method="post" action="#">
<input type="text" name="company_name" id="company_name">
<input type="submit" value="search">
</form>
</body>
</html>